.pricing-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;
}

.pricing-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.title {
  font-size: clamp(20px, 5vw, 35px);
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.pricing-btn {
  padding: 15px 20px;
  cursor: pointer;
  font-size: clamp(14px, 2vw, 15px);
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffffdf;
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  transition: color 0.3s;
  z-index: 2;
}

.pricing-toggle {
  display: flex;
  width: 300px;
  background: linear-gradient(#334679, #162561);
  border: 3px solid rgba(0, 0, 0, 0.315);
  border-radius: 20px;
  padding: 5px;
  position: relative;
  backdrop-filter: blur(6px);
}

.pricing-slider {
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  background: linear-gradient(#5e71ba, #3d4875);
  border-radius: 15px;
  transition: transform 0.5s;
  z-index: 1;
}

.pricing-slider.move {
  transform: translateX(100%);
}

.pricing-bg {
  position: relative;
  margin-top: 20px;
}

.bg-outline {
  width: 100%;
  position: relative;
  z-index: 2;
}

.bg-fill {
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0.5;
  mix-blend-mode: soft-light;
}

.pricing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  max-width: 1200px;
  padding-top: 20px;
}
@media (max-width: 860px) {
  .pricing-list {
    grid-template-columns: repeat(2, 1fr);
    align-items: normal;
  }
}
@media (max-width: 600px) {
  .pricing-list {
    grid-template-columns: 1fr;
  }
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px; /* Уменьшает ширину карточки */
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: white;
  background: #0b122f;

  border: 3px solid #6f8ca2d7;
}

.plan-logo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.large img {
  position: relative;
  top: -200px;
  width: 120px;
  height: 120px;
}

.plan-title {
  margin-top: 50px;
  font-size: clamp(15px, 2vw, 20px);
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #007bff;
  display: inline-block;
  border-radius: 20px;
  color: #007bff;
}

.highlight-text {
  border-color: #ff9800;
  color: #ff9800;
}

.plan-price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.price {
  font-size: clamp(20px, 10vw, 45px);
  font-weight: bold;
  color: #ffffff;
}

.price-unit {
  font-size: 14px;
  margin-left: 5px;
  align-self: center;
}

.plan-caption {
  margin-top: 10px;
  color: #666;
  padding-bottom: 10px;
}

.plan-caption.bordered {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

/* Список преимуществ */
.plan-features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.feature-icon {
  width: 20px;
  height: 20px;
}

/* Кнопка */
.plan-button {
  margin-top: 20px;
  width: 150px;
}

.limited-offer {
  font-size: 12px;
  color: #ff9800;
  margin-top: 10px;
}

/* @media (max-width: 860px){
    .pricing-list {
      display: flex;
      flex-direction: row;
    }
    
} */
